@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 120px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 110px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #f2f2f2;
}
.container form .details{
    margin-top: 30px;
}
.container form .title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100%/ 4 - 15px);
    flex-direction: column;
    margin: 2px 0;
}
.input-field label{
    font-size:  12px;
    font-weight:   500;
    color: #2e2e2e;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"]:valid{
    color: #333;
}
/*combo box*/
.input-field select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}
.input-field select:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select[type="date"]:valid{
    color: #333;
}
/*What went well and Coach opppor */
form .fields .big-fields{
    display: flex;
    width: calc(100%/2 - 15px);
    flex-direction: column;
    margin: 2px 0;
}
.big-fields label{
    font-size:  15px;
    font-weight:   500;
    color: #2e2e2e;
}
.big-fields textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 15px;
    height: 100px;
    margin: 8px 0;
}
.big-fields textarea:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.big-fields textarea[type="date"]:valid{
    color: #333;
}

/*button*/
form .fields .btn{
    display: flex;
    width: calc(100%/ 4 - 15px);
    flex-direction: column;
    margin: 2px 0;
}
.btn button{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}
.btn button:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15% auto;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




